<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{pageTitleKey | translate }}</ion-title>
    <ion-buttons end *ngIf="areaId">
      <button ion-button icon-only [nveFavorite]="areaId"><ion-icon name="star"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="warning-details-page" *ngIf="warning">
  <ion-list no-lines>
    <ion-item-divider color="light">
      {{ warning.date | amDateFormat:'dddd D. MMMM' }}
    </ion-item-divider>
    <ion-item>
      <nve-warning-badge item-right [level]="warning.rating"></nve-warning-badge>
      <h2 *ngIf="!warning.meta.DangerLevelName">{{ forecastTypeKey | translate }}</h2>
      <h2 *ngIf="warning.meta.DangerLevelName">{{ warning.meta.DangerLevelName | translate }}</h2>
      <p [innerHTML]="warning.meta.MainText"></p>
    </ion-item>
    <ion-item *ngIf="warning.meta.WarningText">
      <p [innerHTML]="warning.meta.WarningText"></p>
    </ion-item>
    <ion-item *ngIf="warning.meta.AvalancheDanger">
      <h2>{{ 'AVALANCHE_DANGER' | translate }}</h2>
      <p [innerHTML]="warning.meta.AvalancheDanger"></p>
    </ion-item>
    <ion-item *ngIf="warning.meta.AvalancheWarning">
      <h2>{{ 'AVALANCHE_WARNING' | translate }}</h2>
      <p [innerHTML]="warning.meta.AvalancheWarning"></p>
    </ion-item>
    <ion-item *ngIf="warning.meta.AlpineWeather">
      <h2>{{ 'ALPINE_WEATHER' | translate }}</h2>
      <p [innerHTML]="warning.meta.AlpineWeather"></p>
    </ion-item>
  </ion-list>


  <ion-list inset *ngIf="warning.meta.CauseList">
    <ion-item-divider color="light">
      {{ 'CAUSE' | translate }}
    </ion-item-divider>
    <ion-item *ngFor="let cause of warning.meta.CauseList">
      <img item-left src="assets/icon/cause-{{ cause.Id}}.png" />
      {{ cause.Name }}
    </ion-item>
  </ion-list>

  <ion-list inset *ngIf="warning.meta.LandSlideTypeList">
    <ion-item-divider color="light">
      {{ 'LANDSLIDE_TYPE' | translate }}
    </ion-item-divider>
    <ion-item *ngFor="let type of warning.meta.LandSlideTypeList">
      {{ type.Name }}
    </ion-item>
  </ion-list>

  <ion-list inset *ngIf="warning.meta.MicroBlogPostList">
    <ion-item-divider color="light">
      {{ 'UPDATES' | translate }}
    </ion-item-divider>
    <ion-item *ngFor="let post of warning.meta.MicroBlogPostList">
      <h3>{{ post.DateTime | amDateFormat:'dddd D. MMMM - k:mm' }}</h3>
      <p>{{ post.Text }}</p>
    </ion-item>
  </ion-list>

</ion-content>
