<ion-header>
  <ion-navbar>
    <ion-title>{{ pageTitleKey | translate }}</ion-title>
    <button ion-button right menuToggle *ngIf="showMap">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end *ngIf="parentId">
      <button ion-button icon-only [nveFavorite]="parentId"><ion-icon name="star"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar *ngIf="segments.length > 0">
    <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged()">
      <ion-segment-button *ngFor="let segment of segments" value="{{ segment }}">
        {{ segment | uppercase | translate }}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="list-page">

  <div class="map" tappable nveMap *ngIf="showMap" [ngClass]="{ 'fullscreen': (mapFullscreen | async) }" [fullscreen]="(mapFullscreen | async)"
    [forecasts]="forecasts" [geoJsonData]="mapGeoJsonData" [marker]="mapMarker | async" [center]="mapCenter | async" [zoomLevel]="mapZoomLevel | async"
    (areaSelected)="onMapAreaSelected($event)">
  </div>

  <div class="map-overlay" *ngIf="showMap" [ngClass]="{ 'fullscreen': (mapFullscreen | async) }">
    <button ion-button icon-only small outline color="dark" (click)="onMapFullscreenToggle($event)">
      <ion-icon *ngIf="!(mapFullscreen | async)" name="expand"></ion-icon>
      <ion-icon *ngIf="(mapFullscreen | async)" name="contract"></ion-icon>
    </button>
  </div>

  <div class="list-wrapper">
    <ion-list *ngIf="0 === forecasts.length">
      <ion-list-header>
        {{ emptyListTitleKey | translate }}
      </ion-list-header>
      <ion-item detail-none *ngFor="let f of dummyForecasts">
        <nve-warning-badge item-right *ngFor="let d of [0,1,2]" [level]="0"></nve-warning-badge>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="0 < (forecasts | favoriteForecasts: favorites).length">
      <ion-list-header>
        <ion-note item-right *ngFor="let d of (forecasts | forecastsTimeframe)">{{ d | amDateFormat:'ddd' }}</ion-note> {{ 'FAVORITES' | translate }}
      </ion-list-header>

      <button detail-none ion-item *ngFor="let forecast of (forecasts | favoriteForecasts: favorites)" (click)="onListForecastSelected($event, forecast)">
      <nve-warning-badge item-right *ngFor="let d of [0,1,2]" [level]="forecast.warnings[d].rating"></nve-warning-badge>
      {{ forecast.areaName }}
    </button>
    </ion-list>

    <ion-list *ngFor="let section of sections">
      <!-- Always show A region list title -->
      <ion-list-header *ngIf="0 < (forecasts | filterForecasts: section).length">
        <ion-note item-right *ngFor="let d of (forecasts | forecastsTimeframe)">{{ d | amDateFormat:'ddd' }}</ion-note> {{ section+"_LIST_TITLE" | translate }}
      </ion-list-header>
      <ion-item *ngIf="'B_REGIONS' === section && 0 < (forecasts | filterForecasts: section).length">
        <p [innerHTML]="section+'_NOTE' | translate"></p>
      </ion-item>

      <button detail-none ion-item *ngFor="let forecast of (forecasts | filterForecasts: section)" (click)="onListForecastSelected($event, forecast)">
      <nve-warning-badge item-right *ngFor="let d of [0,1,2]" [level]="forecast.warnings[d].rating"></nve-warning-badge>
      {{ forecast.areaName }}
    </button>

    </ion-list>
  </div>

</ion-content>