.list-page {

  .map {
    transition: top 250ms ease-in-out !important;
    position: fixed;
    top: 0;
    left: -100px;
    right: -100px;
    height: 100vh;
    z-index: -1;
  }

  &.content-md .map {
    top: calc(-15vh - 35vh/2 + 56px);
  }

  &.content-ios .map {
    top: calc(-15vh - 35vh/2 + 64px);
    border-width: 0.5px;
  }

  .map-overlay {
    pointer-events: none;
    position: relative;
    transition: height 250ms ease-in-out;
    height: 35vh;

    &.fullscreen {
      height: 100%;
    }

    .controls {
      pointer-events: none;
      position: fixed;
      z-index: -1;
      right: 0;
      padding: 6px;

      button {
        pointer-events: all;
        background: color($colors, light);
        display: block;
        transition: opacity 250ms ease-in-out;

        &.disabled {
          opacity: 0;
          pointer-events: none;
        }

        &.button-ios {
          margin: 6px;
          width: 34px;
        }
  
        &.button-md {
          margin: 6px;
          box-shadow: none;
          width: 34px;
        }
      }
    }
  }

  .list-wrapper {
    background: $list-background-color;
    z-index: 1;
  }

  ion-list {

    &.list-ios {
      .list-header {
        background: $list-background-color;
      }
    }

    .label {
      p {
        white-space: normal;
      }
    }

    .item-inner {
      padding-right: 16px !important;
    }

    ion-list-header ion-note {
      width: $warning-badge-size;
      text-align: center;
      overflow: hidden;
      font-size: 10px;
      font-weight: normal;
      color: $text-color;
    }

    ion-list-header ion-note,
    nve-warning-badge {
      margin-right: 0 !important;
      margin-left: 8px !important;
    }
  }
}
