nve-map {
  > div {
    height: 200px;
    width: 100%;
  }
}

.list-page {

  ion-list {

    .item-inner {
      padding-right: 16px !important;
    }

    ion-list-header ion-note {
      width: $warning-badge-size;
      text-align: center;
      overflow: hidden;
      font-size: 10px;
      text-transform: lowercase;
      font-weight: normal;
      color: $text-color;
    }

    ion-list-header ion-note,
    nve-warning-badge {
      margin-right: 0 !important;
      margin-left: 8px !important;
    }
  }
}
