<ion-header>
  <ion-navbar>
    <ion-title>{{ pageTitle }}</ion-title>
    <button ion-button right menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-footer *ngIf="items">
  <ion-navbar>
    <ion-segment [(ngModel)]="selectedSegmentId" (ionChange)="segmentChanged($event)">
      <ion-segment-button *ngFor="let segment of segments" value="{{ segment.id }}" >
        {{ segment.name }}
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-footer>

<ion-content #test class="list-page">

  <nve-map></nve-map>

  <ion-list *ngIf="items">
    <ion-list-header>
      <ion-note item-left *ngFor="let i of [19,20,21]">{{i}}. okt</ion-note>
    </ion-list-header>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <nve-warning-badge item-left *ngFor="let i of [0,1,2]" [level]="item.forecasts[selectedSegmentId].warnings[i].level"></nve-warning-badge>
      {{item.name}}
    </button>
  </ion-list>

  <ion-list *ngIf="lists">
    <ion-item-group>
      <button ion-item *ngFor="let item of lists[0]" (click)="itemTapped($event, item)">
        <nve-warning-badge item-left *ngFor="let i of [0,1,2]" [level]="item.forecast.warnings[i].level"></nve-warning-badge>
        {{item.name}}
      </button>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider light>B-regioner</ion-item-divider>
      <button ion-item *ngFor="let item of lists[1]" (click)="itemTapped($event, item)">
        <nve-warning-badge item-left *ngFor="let i of [0,1,2]" [level]="item.forecast.warnings[i].level"></nve-warning-badge>
        {{item.name}}
      </button>
    </ion-item-group>

  </ion-list>
</ion-content>


