.list-page {

  .map {
    position: fixed;
    top: calc(-50vh + 35vh/2 - 64px);
    left: -200px;
    right: -200px;
    bottom: 0;
    z-index: -1;
  }

  &.content-md .map {
    top: calc(-50vh + 35vh/2 - 56px);
  }

  .map-overlay {
    pointer-events: none;
    transition: height 250ms ease-in-out;
    height: 35vh;

    &.fullscreen {
      height: 100%;
    }
  }

  .list-wrapper {
    background: $list-background-color;
    z-index: 1;
  }

  ion-list {

    .label {
      p {
        white-space: normal;
      }
    }

    .item-inner {
      padding-right: 16px !important;
    }

    ion-list-header ion-note {
      width: $warning-badge-size;
      text-align: center;
      overflow: hidden;
      font-size: 10px;
      font-weight: normal;
      color: $text-color;
    }

    ion-list-header ion-note,
    nve-warning-badge {
      margin-right: 0 !important;
      margin-left: 8px !important;
    }
  }
}
