<ion-header>
  <ion-navbar>
    <ion-title>{{ pageTitle }}</ion-title>
    <button ion-button right menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-footer *ngIf="items">
  <ion-navbar>
    <ion-segment [(ngModel)]="selectedSegmentId" (ionChange)="segmentChanged($event)">
      <ion-segment-button *ngFor="let segment of segments" value="{{ segment.id }}" >
        {{ segment.name }}
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-footer>

<ion-content #test class="list-page">
  <ion-list *ngIf="items">
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-badge item-left color="level{{item.forecasts[selectedSegmentId].warnings[0].level}}" class="nve-level-badge">{{item.forecasts[selectedSegmentId].warnings[0].level}}</ion-badge>
      <ion-badge item-left color="level{{item.forecasts[selectedSegmentId].warnings[1].level}}" class="nve-level-badge">{{item.forecasts[selectedSegmentId].warnings[0].level}}</ion-badge>
      <ion-badge item-left color="level{{item.forecasts[selectedSegmentId].warnings[2].level}}" class="nve-level-badge">{{item.forecasts[selectedSegmentId].warnings[0].level}}</ion-badge>
      {{item.name}}
    </button>
  </ion-list>

  <ion-list *ngIf="lists">
    <ion-item-group>
      <button ion-item *ngFor="let item of lists[0]" (click)="itemTapped($event, item)">
        <ion-badge item-left color="level{{item.forecast.warnings[0].level}}" class="nve-level-badge">{{item.forecast.warnings[0].level}}</ion-badge>
        <ion-badge item-left color="level{{item.forecast.warnings[1].level}}" class="nve-level-badge">{{item.forecast.warnings[0].level}}</ion-badge>
        <ion-badge item-left color="level{{item.forecast.warnings[2].level}}" class="nve-level-badge">{{item.forecast.warnings[0].level}}</ion-badge>
        {{item.name}}
      </button>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider light>B-regioner</ion-item-divider>
      <button ion-item *ngFor="let item of lists[1]" (click)="itemTapped($event, item)">
        <ion-badge item-left color="level{{item.forecast.warnings[0].level}}" class="nve-level-badge">{{item.forecast.warnings[0].level}}</ion-badge>
        <ion-badge item-left color="level{{item.forecast.warnings[1].level}}" class="nve-level-badge">{{item.forecast.warnings[0].level}}</ion-badge>
        <ion-badge item-left color="level{{item.forecast.warnings[2].level}}" class="nve-level-badge">{{item.forecast.warnings[0].level}}</ion-badge>
        {{item.name}}
      </button>
    </ion-item-group>

  </ion-list>
</ion-content>


