<div class="overview list">
    <div class="item item-divider shadow-top">
        {{::appVm.text['highestForecast']}} {{appVm.util.getDayRangeString(vm.days)}}
    </div>

    <a class="item region item-icon-right" ng-repeat="area in listVm.areas" ng-click="mainVm.goToArea(area)">

        <hazard-rating warning="appVm.util.chooseLanguage(area.forecast)[0]"></hazard-rating>
        <hazard-rating warning="appVm.util.chooseLanguage(area.forecast)[1]"></hazard-rating>
        <hazard-rating warning="appVm.util.chooseLanguage(area.forecast)[2]"></hazard-rating>

        <span class="varsom-warning-text" ng-bind="area.name"></span>

        <i class="icon icon-accessory ion-chevron-right"></i>
    </a>
</div>