<ion-view view-title="{{ appVm.text[vm.titleKey] }}">

    <ion-content class="has-header areas">
        <ion-refresher pulling-text="{{appVm.text['pullToRefresh']}}" on-refresh="vm.pullToRefresh()">
        </ion-refresher>

        <leaflet class="map" lf-center="vm.map.center" defaults="vm.map.defaults" tiles="vm.map.tiles"
                 geojson="vm.map.geojson"
                 width="100%" height="{{ vm.map.height }}" ng-if="vm.hasMap">

            <div class="overview list" ng-if="vm.map.selectedArea">

                <div class="item item-divider shadow-top">
                    {{vm.map.selectedArea.name}}
                    {{appVm.util.getDayRangeString(appVm.util.getDays(vm.map.selectedArea.landslideForecast))}}
                </div>

                <a class="item item-icon-right" ng-click="vm.goToArea(vm.map.selectedArea)">

                    <hazard-rating warning="vm.map.selectedArea.floodForecast[0]"></hazard-rating>
                    <hazard-rating warning="vm.map.selectedArea.floodForecast[1]"></hazard-rating>
                    <hazard-rating warning="vm.map.selectedArea.floodForecast[2]"></hazard-rating>

                    <span class="varsom-warning-text">{{appVm.text['flood']}}</span>

                    <br>

                    <hazard-rating warning="vm.map.selectedArea.floodForecast[0]"></hazard-rating>
                    <hazard-rating warning="vm.map.selectedArea.floodForecast[1]"></hazard-rating>
                    <hazard-rating warning="vm.map.selectedArea.floodForecast[2]"></hazard-rating>

                    <span class="varsom-warning-text">{{appVm.text['landslide']}}</span>

                    <i class="icon icon-accessory ion-chevron-right"></i>
                </a>

            </div>

        </leaflet>

        <div class="overview list">

            <div class="item item-divider shadow-top">
                {{appVm.text['threeDayForecast']}}
                {{appVm.util.getDayRangeString(appVm.util.getDays(vm.areas[0].forecast))}}
            </div>

            <a class="item region item-icon-right" ng-repeat="area in vm.areas" ng-click="vm.goToArea(area)">

                <hazard-rating warning="area.forecast[0]"></hazard-rating>
                <hazard-rating warning="area.forecast[1]"></hazard-rating>
                <hazard-rating warning="area.forecast[2]"></hazard-rating>

                <span class="varsom-warning-text" ng-bind="area.name"></span>

                <i class="icon icon-accessory ion-chevron-right"></i>
            </a>

        </div>

    </ion-content>
</ion-view>