<leaflet class="map" lf-center="mapVm.center" defaults="mapVm.defaults" tiles="mapVm.tiles" geojson="mapVm.geojson"
         width="100%" height="{{ mapVm.height }}">

    <div class="overview list" ng-if="mapVm.selectedArea">

        <div class="item item-divider shadow-top">{{mapVm.selectedArea.name}}
            {{appVm.util.getDayRangeString(mapVm.days)}}
        </div>

        <a class="item item-icon-right" ng-click="mainVm.goToArea(mapVm.selectedArea)">

            <hazard-rating warning="appVm.util.chooseLanguage(mapVm.selectedArea.forecast)[0]"></hazard-rating>
            <hazard-rating warning="appVm.util.chooseLanguage(mapVm.selectedArea.forecast)[1]"></hazard-rating>
            <hazard-rating warning="appVm.util.chooseLanguage(mapVm.selectedArea.forecast)[2]"></hazard-rating>

            <span class="varsom-warning-text" ng-bind="area.name"></span>

            <i class="icon icon-accessory ion-chevron-right"></i>
        </a>

    </div>

</leaflet>