<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{pageTitleKey | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <nve-warning-badge item-right *ngFor="let warning of warningsMap.flood" [level]="warning.rating"></nve-warning-badge>
  <br/>
  <nve-warning-badge item-right *ngFor="let warning of warningsMap.landslide" [level]="warning.rating"></nve-warning-badge>
  <pre *ngFor="let warning of warningsMap.avalanche">{{warning | json}}</pre>
  <pre *ngFor="let warning of warningsMap.flood">{{warning | json}}</pre>
  <pre *ngFor="let warning of warningsMap.landslide">{{warning | json}}</pre>
</ion-content>
