<ion-list *ngIf="warning">
  <ion-list-header>
    {{ warning.date | amDateFormat:'dddd D. MMMM' | uppercase }}
  </ion-list-header>
  <ion-item-group>
    <ion-item>
      <nve-warning-badge item-right [level]="warning.rating"></nve-warning-badge>
      <h2 *ngIf="warningType !== 'Avalanche'">{{ warningType | uppercase | translate }}</h2>
      <h2 *ngIf="warningType === 'Avalanche' && warning">
        <span *ngIf="warning.meta.DangerLevelName">Faregrad {{ warning.meta.DangerLevelName }}</span>
        <span *ngIf="!warning.meta.DangerLevelName">{{ warning.meta.MainText }}</span>
      </h2>

      <p *ngIf="warningType !== 'Avalanche' && warning && warning.meta.MainText">{{ warning.meta.MainText }}</p>
      <p *ngIf="warningType === 'Avalanche' && warning && warning.meta.DangerLevelName && warning.meta.MainText">{{ warning.meta.MainText }}</p>
    </ion-item>
    <ion-item *ngIf="warning.meta.WarningText">
      <p [innerHTML]="warning.meta.WarningText"></p>
    </ion-item>
    <ion-item *ngIf="warning.meta.AvalancheDanger">
      <h2>{{ 'AVALANCHE_DANGER' | translate }}</h2>
      <p [innerHTML]="warning.meta.AvalancheDanger"></p>
    </ion-item>
    <ion-item *ngIf="warning.meta.AvalancheWarning">
      <h2>{{ 'AVALANCHE_WARNING' | translate }}</h2>
      <p [innerHTML]="warning.meta.AvalancheWarning"></p>
    </ion-item>
    <ion-item *ngIf="warning.meta.SnowSurface">
      <h2>{{ 'SNOW_SURFACE' | translate }}</h2>
      <p [innerHTML]="warning.meta.SnowSurface"></p>
    </ion-item>
    <ion-item *ngIf="warning.meta.MountainWeather">
      <h2>{{ 'MOUNTAIN_WEATHER' | translate }}</h2>
      <mountain-weather [warning]="warning"></mountain-weather>
    </ion-item>
    <ion-item>
      <p class="published">
        {{ 'PUBLISHED' | translate }}: {{ warning.meta.PublishTime | amDateFormat:'D. MMM [kl.] HH:mm' }}
        <br/> {{ 'NEXT_WITHIN' | translate }} {{ warning.meta.NextWarningTime | amDateFormat:'D. MMM [kl.] HH:mm' | lowercase
        }}
      </p>
    </ion-item>
  </ion-item-group>

  <ion-item-group *ngIf="warning.meta.LandSlideTypeList && warning.meta.LandSlideTypeList.length > 0">
    <ion-item-divider color="light">
      {{ 'LANDSLIDE_TYPE' | translate }}
    </ion-item-divider>
    <ion-item *ngFor="let type of warning.meta.LandSlideTypeList">
      {{ type.Name }}
    </ion-item>
  </ion-item-group>

  <ion-item-group *ngIf="warning.meta.CauseList && warning.meta.CauseList.length > 0">
    <ion-item-divider color="light">
      {{ 'CAUSE' | translate }}
    </ion-item-divider>
    <ion-item *ngFor="let cause of warning.meta.CauseList">
      <div class="nve-icon" item-left>
        <img src="assets/icon/causes/cause-{{ cause.Id}}.svg" />
      </div>
      {{ cause.Name }}
    </ion-item>
  </ion-item-group>


  <ion-item-group inset *ngIf="warning.meta.MicroBlogPostList && warning.meta.MicroBlogPostList.length > 0">
    <ion-item-divider color="light">
      {{ 'UPDATES' | translate }}
    </ion-item-divider>
    <ion-item *ngFor="let post of warning.meta.MicroBlogPostList">
      <h3 text-capitalize>{{ post.DateTime | amDateFormat:'dddd D. MMMM - k:mm' }}</h3>
      <p>{{ post.Text }}</p>
    </ion-item>
  </ion-item-group>

</ion-list>