<ion-view  view-title="{{::vm.region['name']}}">
    <ion-content>


        <div class="detail list">
        <div ng-repeat="num in [0,1,2]">
            <div class="item item-divider" id="{{vm.region.regionId}}day{{num}}">
                {{appVm.text['daysFull'][vm.days[num].getDay()]}} {{vm.util.getDayString(vm.days[num], 'monthsFull')}}
            </div>
            <a class="item item-icon-right item-text-wrap" href="" ui-sref="app.avalancheregiondetail({forecast:vm.getAvalancheForecast(num)})">
                <header>
                    <hazard-rating varsom-rating="::vm.getAvalancheForecast(num).DangerLevel"></hazard-rating>
                    <h2 class="danger-level-name">
                        {{vm.getAvalancheForecast(num).DangerLevelName}}
                    </h2>
                </header>
                {{vm.getAvalancheForecastText(num)}}

                <i class="icon icon-accessory ion-chevron-right"></i>
            </a>
            <a class="item item-text-wrap item-icon-right padding-right-30" ng-repeat="problem in vm.getAvalancheForecast(num).AvalancheProblems" href="" ui-sref="app.avalancheregionproblem({problem: problem})">
                <h2>{{problem.AvalancheProblemTypeName}}: {{problem.AvalCauseName}}</h2>

                <div class="row row-no-padding-sides">
                    <div class="col positive">
                        {{::appVm.text['Høyde']}}
                    </div>
                    <div class="col">
                        {{::vm.util.printExposedHeight(appVm.text['exposedHeights'],problem.ExposedHeightFill,problem.ExposedHeight1,problem.ExposedHeight2)}}
                    </div>
                </div>
                <div class="row row-no-padding-sides">
                    <div class="col positive">
                        {{::appVm.text['Eksposisjon']}}
                    </div>
                    <div class="col">
                        {{::vm.util.printExpositionList(appVm.text['expositions'], problem.ValidExpositions)}}
                    </div>
                </div>
                <div class="row row-no-padding-sides">
                    <div class="col positive">
                        {{::appVm.text['Skredtype']}}
                    </div>
                    <div class="col">
                        {{problem.AvalancheExtName}}
                    </div>
                </div>
                <div class="row row-no-padding-sides">
                    <div class="col positive">
                        {{::appVm.text['Utløsningsårsak']}}
                    </div>
                    <div class="col">
                        {{problem.AvalTriggerSimpleName}}
                    </div>
                </div>
                <div class="row row-no-padding-sides">
                    <div class="col positive">
                        {{::appVm.text['Utbredelse']}}
                    </div>
                    <div class="col">
                        {{problem.AvalPropagationName}}
                    </div>
                </div>
                <div class="row row-no-padding-sides">
                    <div class="col positive">
                        {{::appVm.text['Skredstørrelse']}}
                    </div>
                    <div class="col">
                        {{problem.DestructiveSizeExtName}}
                    </div>
                </div>
                <div class="row row-no-padding-sides">
                    <div class="col positive">
                        {{::appVm.text['Sannsynlighet']}}
                    </div>
                    <div class="col">
                        {{problem.AvalProbabilityName}}
                    </div>
                </div>
                <i class="icon icon-accessory ion-chevron-right"></i>
            </a>

        </div>
        </div>
    </ion-content>
</ion-view>
