<ion-view  view-title="{{::vm.region['name']}}">
    <ion-content>
        <div class="row">
            <a class="col text-center" href="" ng-click="vm.scrollTo('day0')">
                <hazard-rating varsom-rating="vm.avalancheForecast[0].DangerLevel"></hazard-rating><br>
                <span class="">{{::appVm.text['days'][vm.days[0].getDay()]}}</span>
            </a>
            <a class="col text-center" href="" ng-click="vm.scrollTo('day1')">
                <hazard-rating varsom-rating="vm.avalancheForecast[1].DangerLevel"></hazard-rating><br>
                <span class="">{{::appVm.text['days'][vm.days[1].getDay()]}}</span>
            </a>
            <a class="col text-center" href="" ng-click="vm.scrollTo('day2')">
                <hazard-rating varsom-rating="vm.avalancheForecast[2].DangerLevel"></hazard-rating><br>
                <span class="">{{::appVm.text['days'][vm.days[2].getDay()]}}</span>
            </a>

        </div>

        <div class="list">
        <div ng-repeat="num in [0,1,2]">
            <div class="item item-divider" id="{{vm.region.regionId}}day{{num}}">
                {{appVm.text['days'][vm.days[num].getDay()]}} {{vm.days[num].toLocaleDateString()}}
            </div>
            <div class="item item-icon-right item-text-wrap">
                <span>
                    {{vm.avalancheForecast[num].MainText || vm.avalancheForecast[num].AvalancheDanger}}
                </span>

                <i class="icon icon-accessory ion-chevron-right"></i>
            </div>
            <div class="item item-icon-right" ng-repeat="problem in vm.avalancheForecast[num].AvalancheProblems">
                <h2>{{problem.AvalancheProblemTypeName}}: {{problem.AvalCauseName}}</h2>
                <p>{{problem.AvalancheExtName}}</p>
                <p>{{problem.AvalTriggerSimpleName}}</p>
                <p>{{problem.AvalPropagationName}}</p>
                <p>{{::appVm.text['above']}} {{problem.ExposedHeight1}} {{::appVm.text['moh']}}</p>
                <p>{{problem.DestructiveSizeExtName}} | {{problem.AvalProbabilityName}}</p>
                <i class="icon icon-accessory ion-chevron-right"></i>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>
