.item-details-page {

  .label p {
    line-height: 1.4;
    span {
      &:after {
        content: ", "
      }

      &:last-child:after {
        content: "";
      }
    }
  }

  .label {
    h2,
    p:first-of-type {
      white-space: normal;
    }
  }

  .item-divider .label:first-letter {
    text-transform: uppercase;
  }

}

