<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{pageTitleKey | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="item-details-page">
  <div *ngIf="forecasts['flood'] && forecasts['landslide']">
  <ion-list *ngFor="let dayIndex of [0,1,2]">

    <ion-list-header>
      {{ forecasts['flood'].getDay(dayIndex).date | amDateFormat:'dddd D. MMMM' }}
    </ion-list-header>

    <ion-item-group>

      <button *ngFor="let forecastType of ['flood', 'landslide']" ion-item (click)="onWarningSelected(forecasts[forecastType], dayIndex)">

        <nve-warning-badge item-right [level]="forecasts[forecastType].getDay(dayIndex).rating"></nve-warning-badge>

        <h2>{{ forecastType | uppercase | translate }}</h2>

        <p>
          {{ forecasts[forecastType].getDay(dayIndex).meta.MainText }}
        </p>

        <!---

        <p *ngIf="forecasts[forecastType].getDay(dayIndex).meta.CauseList">
          <strong>{{ 'CAUSE' | translate }}:</strong> <span *ngFor="let cause of forecasts[forecastType].getDay(dayIndex).meta.CauseList">{{cause.Name}}</span>
        </p>
        <p *ngIf="forecasts[forecastType].getDay(dayIndex).meta.LandSlideTypeList">
          <strong>{{ 'LANDSLIDE_TYPE' | translate }}:</strong> <span *ngFor="let type of forecasts[forecastType].getDay(dayIndex).meta.LandSlideTypeList">{{type.Name}}</span>
        </p>
        --->

      </button>

    </ion-item-group>
  </ion-list>
  </div>

  <div *ngIf="forecasts['avalanche']">
  <ion-list *ngFor="let dayIndex of [0,1,2]">

    <ion-list-header>
      {{ forecasts['avalanche'].getDay(dayIndex).date | amDateFormat:'dddd D. MMMM' }}
    </ion-list-header>

    <ion-item-group>

      <button ion-item (click)="onWarningSelected(forecasts['avalanche'], dayIndex)">

        <nve-warning-badge item-right [level]="forecasts['avalanche'].getDay(dayIndex).rating"></nve-warning-badge>

        <h2 *ngIf="forecasts['avalanche'].getDay(dayIndex).meta.DangerLevelName">
          {{ 'DANGER_LEVEL' | translate }}
          {{ forecasts['avalanche'].getDay(dayIndex).meta.DangerLevelName }}
        </h2>
        <p *ngIf="forecasts['avalanche'].getDay(dayIndex).meta.MainText">
          {{ forecasts['avalanche'].getDay(dayIndex).meta.MainText }}
        </p>

      </button>

    </ion-item-group>
    <ion-item-group>

      <ion-item-divider *ngIf="forecasts['avalanche'].getDay(dayIndex).meta.AvalancheProblems">
        {{ 'AVALANCHE_PROBLEMS' | translate }}
      </ion-item-divider>

      <ion-item *ngFor="let problem of forecasts['avalanche'].getDay(dayIndex).meta.AvalancheProblems">
        <h2>{{ problem.AvalancheProblemTypeName }}</h2>
        <p>{{ problem.AvalCauseName }}</p>
        <p>
          <strong>{{ 'AVALANCHE_TYPE' | translate }}:</strong> {{ problem.AvalancheTypeName}}<br/>
          <strong>{{ 'DESTRUCTIVE_SIZE_EXT' | translate }}:</strong> {{ problem.DestructiveSizeExtName}}<br/>
          <strong>{{ 'AVAL_TRIGGER_SIMPLE' | translate }}:</strong> {{ problem.AvalTriggerSimpleName}}<br/>
          <strong>{{ 'AVAL_PROPAGATION' | translate }}:</strong> {{ problem.AvalPropagationName}}<br/>
          <strong>{{ 'AVAL_PROBABILITY' | translate }}:</strong> {{ problem.AvalProbabilityName}}
        </p>

        <p>{{ problem.AvalancheAdvice}}</p>

      </ion-item>

    </ion-item-group>
  </ion-list>
  </div>
</ion-content>
