.item-details-page {

  .label p {
    line-height: 1.4;
    span {
      &:after {
        content: ", "
      }

      &:last-child:after {
        content: "";
      }
    }
  }

  .label p:first-of-type {
    white-space: normal;
  }

  .item-divider .label:first-letter {
    text-transform: uppercase;
  }

  .item-md [item-left] {
    margin-right: 16px;
    margin-top: 16px;
    align-self: flex-start;
  }

  .item-ios [item-left] {
    margin-top: 11px;
    align-self: flex-start;
  }

}

