<ion-menu [content]="content" side="right" type="overlay" class="nve-sidebar">

  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Varsom</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding-bottom nve-bg-color="primary">

    <ion-list padding-top class="nve-menu">
      <button menuClose *ngFor="let section of sections$ | async " [ngClass]="{'active': section === (selectedSection$ | async) }"
        color="primary" ion-item no-lines detail-none (click)="selectSection(section)">
        <ion-icon item-left [name]="icon(section)" class="nve-menu-icon"></ion-icon>
        {{ "MENU." + section | uppercase | translate }}
      </button>
    </ion-list>

    <ion-list class="nve-menu nve-menu-external">
      <ion-list-header color="light">
        {{ "MENU.EXTERNAL.HEADER" | translate}}
      </ion-list-header>
      <button (click)="launch(item.url)" *ngFor="let item of externalLinks$ | async" ion-item color="light">
        <h2 *ngIf="!item.description">{{ item.label}}</h2>
        <h3 *ngIf="item.description">{{ item.label}}</h3>
        <p *ngIf="item.description" [innerHtml]="item.description"></p>
      </button>
    </ion-list>

    <ion-list class="nve-menu">
      <ion-list-header color="primary">
        {{ "MENU.CONTACT_INFO.HEADER" | translate}}
      </ion-list-header>
      <button (click)="launch(item.url)" *ngFor="let item of contactLinks$ | async" ion-item detail-none color="primary">
        <ion-icon item-right name="call" class="nve-menu-icon"></ion-icon>
        <h2>{{ item.label}}</h2>
        <p *ngIf="item.description" [innerHtml]="item.description"></p>
      </button>
    </ion-list>

    <div class="logos">
      <div *ngFor="let section of logoLinks$ | async">
        <p>{{ section.header }}</p>
        <a *ngFor="let item of section.list" (click)="launch('http://' + item + '.no')">
          <img class="logo {{ item }}" src="{{ 'assets/icon/' + item + '.svg' }}" />
        </a>
      </div>
    </div>

  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>