// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Ionic overrides/fixes

.list-header-md {
  border-bottom: $list-md-header-border-top;
}

ion-label p {
  color: inherit !important;
}

.bar-button.active {
  color: #{map-get($colors, 'secondary')};
}

// NVE globals

$warning-badge-size: 40px;
$warning-icon-size: 40px;

@each $color, $value in $colors {
  [nve-bg-color="#{$color}"] {
    background: $value;
  }
}

.nve-sidebar {
  .nve-logo {
    display: block;
    height: 100px;
    margin: 0 auto;
  }
}

.nve-text-small {
  font-size: 80%;
}

.nve-avalanche-rose {

  width: 200px;
  height: 100px;

  * {
    stroke-width: 1px;
  }

  text {
    fill: #6a7a7b;
    font-family: "Roboto Light", sans-serif;
    &.centered {
      text-anchor: middle;
    }
  }

  .sector {
    stroke: #c6c6c5;
    fill: #e3e3e3;
    &.active {
      fill: #69797a;
    }
  }

  .circle-outline {
    stroke: #69797a;
  }

  .circle-label {
    stroke: #69797a;
    fill: #ffffff;
  }

  .arrow {
    stroke: #69797a;
    fill: #69797a;
  }

}

nve-warning-badge ion-badge {
  height: $warning-badge-size;
  width: $warning-badge-size;
  line-height: $warning-badge-size;
  color: #FFF !important;
  font-weight: bold;
  font-size: 1.7rem;
  padding: 0;

  .spinner {
    height: $warning-badge-size/2;
    margin-top: $warning-badge-size/4;
  }
}

.nve-menu {

  button .label {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .nve-menu-icon {
    height: $warning-icon-size;
    width: $warning-icon-size;
    line-height: $warning-badge-size !important;
    border-radius: 50%;
    border: 1px solid #{map-get($colors, 'light')};
    text-align: center;
  }

  .nve-menu-icon:last-child {
    margin-right: 16px;
  }

  .active,
  .activated {
    .nve-menu-icon {
      border-color: #{map-get($colors, 'secondary')};
    }
  }

  h3, p {
    white-space: normal;
  }

  p {
    font-size: 0.8em;
    opacity: 0.7;
  }
}
