// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$warning-badge-size: 40px;
$warning-icon-size: 40px;

ion-label p {
  color: inherit !important;
}

.list-ios ion-item-group > .item-block:first-child {
  border-top: 0.55px solid $list-ios-border-color;
}

.list-md ion-item-group > .item-block:first-child {
  border-top: 1px solid $list-md-border-color;
}

@each $color, $value in $colors {
  [nve-bg-color="#{$color}"] {
    background: $value;
  }
}

.nve-text-small {
  font-size: 80%;
}

.nve-level-badge {
  height: $warning-badge-size;
  width: $warning-badge-size;
  line-height: $warning-badge-size;
  padding: 0;
  border-radius: 2px;
}

.nve-menu {
  margin-bottom: 0;

  .nve-menu-icon {
    height: $warning-icon-size;
    width: $warning-icon-size;
    line-height: $warning-badge-size !important;
    border-radius: 50%;
    border: 1px solid #{map-get($colors, 'light')};
  }
}

.nve-contact-info {
  [ion-button] {
    height: auto;
    padding: 1em 0.5em;

    .button-inner {
      flex-direction: column;

      span:first-child {
        margin-bottom: 5px;
      }
    }
  }
}

.nve-level-card {
  .nve-level-badge {
    margin-right: 8px;
  }
}

