<ion-menu [content]="content" side="right">

  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Varsom</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content nve-bg-color="primary">

    <ion-list padding-top padding-bottom class="nve-menu">
      <button color="primary" ion-item no-lines detail-none *ngFor="let section of sections" (click)="openSection(section)">
        <ion-icon item-left name="{{section.icon}}" class="nve-menu-icon"></ion-icon>
        {{ section.titleKey | translate }}
        <ion-icon item-right *ngIf="section.url" name="open" ios="ios-open-outline"></ion-icon>
      </button>
    </ion-list>

  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
