span.varsom-label {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    line-height: 50px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    pointer-events: none;
    text-align: center;
}

span.varsom-warning-text {
    padding-left: 50px;
}