#avalanche_view {
  display: table;
  height: 100%;
  width: 100%;
  padding-bottom: 80px;
  background-color: $stable;

  h1 {

    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 20px;
    font-size: 22px;
    color: #555;

  }
}