$varsom-label-size: 35px;

.leaflet-container {
    transform: translatez(0);
}

span.varsom-label {
    //position: absolute;
    display: inline-block;
    width: $varsom-label-size;
    height: $varsom-label-size;
    line-height: $varsom-label-size;
    color: white;
    font-size: 20px;
    font-weight: bold;
    pointer-events: none;
    text-align: center;
}

.list {

    .item {
        &.region {
            .varsom-label {
                margin: -$item-padding/2;
                margin-right: $item-padding/2;
            }
        }

        .forecast-widget{
            margin: -$item-padding/2;

            .forecast {
                display: inline-flex;
                margin-left: -$item-padding/4;
                margin-right:  $item-padding/4;

                .varsom-label {
                    margin: $item-padding/4 $item-padding/4;
                }
            }
        }
    }
}

h2.danger-level-name {
    font-size: 12px;
    text-transform: uppercase;


    padding-bottom: 5px;
}

.scroll {
    min-height: 100%;
}

.varsom-menu {
    display: block;
    padding: 30px;

    li {
        vertical-align: top;
        margin-bottom: 20px;

        a {
            display: block;
            color: #fff;
            line-height: 39px;
            height: 40px;
            vertical-align: top;
            font-size: 20px;
            font-weight: 400;
            text-decoration: none;
            &.active {
                color: lighten($energized,20%);
            }

            .ion-ios-settings {
                font-size: 22px;
            }
        }
    }


    .icon {
        float: left;
        display: inline-block;
        margin-right: 10px;
        vertical-align: top;
        font-size: 30px;
        width: 40px;
        line-height: 39px;
        height: 40px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid #fff;
    }
}

.nve-logo {
    background-image: url("../img/nve-logo-bw.png");
    background-repeat: no-repeat;
    background-position: center bottom 50px;
    background-size: 50%;

}

.shadow-top {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


/**
 * This CSS uses adjacent selectors instead of general sibling (~) selectors
 * for ion radio that are broken in iOS 9 UIWebView.
 *
 * To apply the patch, include this CSS after your ionic.css include.
 */
.item-radio input:checked + .radio-content .item-content {
    /* style the item content when its checked */
    background: #f7f7f7;

}

.item-radio input:checked + .radio-content .radio-icon {
    /* show the checkmark icon when its checked */
    visibility: visible;

}

.scroll{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.varsom-map-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    background-color: rgba(255,255,255,0.8);
    //transform: translateY(50px);
    max-height: 50%;

    h3 {
        padding-left: 20px;
        display: inline-block;
        margin: 0;
    }


    &.ng-hide-add {
        transition:0.2s ease-in all;
        transform: translateY(0);
        opacity: 0.8;
    }
    &.ng-hide-add-active {
        transform: translateY(200px);
        opacity: 0;
    }

    /* The finishing CSS styles for the enter animation */
    &.ng-hide-remove {
        transition:0.2s ease-out all;
        transform: translateY(200px);
        opacity: 0;
    }
    &.ng-hide-remove-active {
        transform: translateY(0);
        opacity: 0.8;
    }


}

.varsom-map {
    position: absolute;
    height:100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.map.list{

    padding-top: 200px;

    &.ng-hide-add {
        transition:0.5s ease-in transform;
        transform: translateY(0);
        z-index: 2;
    }
    &.ng-hide-add-active {
        transform: translateY(400px);
        z-index: 2;
    }

    /* The finishing CSS styles for the enter animation */
    &.ng-hide-remove {
        transition:0.5s ease-out transform;
        transform: translateY(400px);
        z-index: 2;

    }
    &.ng-hide-remove-active {
        transform: translateY(0);
        z-index: 2;

    }
}

.varsom-cause {
    min-height: 70px;
    padding-bottom: 8px;
    &.item-thumbnail-left {
        padding-left: 80px;
        img {
            max-height: 50px;
            max-width: 50px;
        }
    }
    h2 {
        font-size: 20px;
        line-height: 50px;

    }

}

.padding-right-30 {
    padding-right: 30px;
}
